{% extends 'base.html' %}
{% block content %}

<div>
    <h1> EDTECH</h1>
    <p>The main goal was to create web and video courses in all major branches of engineering and physical sciences at the undergraduate and postgraduate levels and management courses at the postgraduate level.</p>
</div>
<div>
    <h1>HIGHLIGHTS</h1>
    <p>Largest online repository in the world of courses in engineering, basic sciences, and selected humanities and social sciences subjects
    </p>
</div>
<div>
    <h1>
        EDUTECH Online Certification Courses
    </h1>
    <p>
        Since 2022, through an online portal, 2, 4, or 8-week online courses, typically on topics relevant to students in all years of higher education along with basic core courses in sciences and humanities with exposure to relevant tools and technologies, are being offered. The enrolment to and learning from these courses involves no cost. An in-person, proctored certification exam (optional) will be conducted for free course and a certificate is provided through the participating institutions and industry, when applicable.
    </p>
</div>
<div>
    <h2> <a href="{% url 'home' %}">Click here</a> to see the Available courses</h2>
</div>

{% endblock %}